.hero{
    background: linear-gradient(180deg, rgba(255, 241, 233, 0.5) 21.76%, rgba(255, 241, 233, 0) 100%);
    height: auto;
    padding: 112px 0 63px 0;
    @include tablet{
        padding: 0;
        height: 665px;
    }
    .container{
        height: 100%;
    }
    &__bg{
        display: none;
        @include tablet{
            display: block;
        }
        img{
            position: absolute;
        }
        .plus-mini{
            width: 20px;
            height: 20px;
            top: 20%;
            left: 15%;
        }
        .plus{
            width: 100px;
            height: 100px;
            top: 71%;
            right: 10%;
            @include desktop-sm{
                top: 70%;
                right: 19%;
            }
        }
        .square{
            width: 47px;
            height: 47px;
            top: 20%;
            right: 29%;
        }
        .subtract-icon{
            width: 52px;
            height: 37px;
            top: 77%;
            left: 13%;
            @include desktop-sm{
                left: 21%;
            }
        }
        .point{
            width: 30px;
            height: 30px;
            top: 47%;
            right: 6%;
            @include desktop-sm{
                top: 39%;
            }
        }
        .point-2{
            width: 30px;
            height: 30px;
            top: 50%;
            left: 4%;
        }
    }
    .button{
        min-width: 270px;
        padding: 15px; 
        display: block;
        font-size: 16px ;
        &__accent{
            margin-bottom: 18px;
            @include mobile-lg{
                margin-right: 20px;
                margin-left: 20px;
            }
            @include tablet{ 
                margin: 0;
            }
        }
        @include mobile-lg{
            display: inline-block;
        }
    }
    .d-none{
        @include tablet{
            display: none;
        }
    }
    .description{
        margin-bottom: 60px;
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: 0.7px;
        @include tablet{
            font-size: 20px;
            margin-bottom: 50px;
        }
    }
    &__wrap{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    &__block{
        @include mobile-md{
            text-align: center;
        }
    }
    &__title{
        font-size: 38px;
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0.6px;
        @include tablet{
            font-size: 45px;
            margin-bottom: 14px;
        }
    }
}